<div class="result flow-map">
  <div id="flow"></div>
  <script src="../dist/js/odMap.js"></script>
  <script>
    var center = <%- JSON.stringify(summary.question2.points.center.geometry.coordinates) %>;
    var newGeo = <%- JSON.stringify(summary.commute) %>;
    console.log(newGeo);
    createODMap(center, newGeo)</script>
</div>