<!-- TODO REFACTOR TO COMPONENTS IN SEPERATE JS FILE -->
<div class="result esri-map">
  <div id="irse"></div>
  <script>
    var irseMap = L.map('irse').setView([33.6933447075328, -117.38131905537], 12);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
      maxZoom: 18,
      id: 'mapbox.streets'
    }).addTo(irseMap);
    var irseGeo = <%- JSON.stringify(esriResults.features) %>
    geojsonLayer = L.geoJson(irseGeo, {
      style: function (feature) {
        if (feature.properties.status === 'Like') {
          return { color: "#31e0a3" };
        } else if (feature.properties.status === 'Dislike') {
          return { color: "#e05131" };
        } else {
          return { color: "#9b9fa5" };
        }
      },
      pointToLayer: function (feature, latlng) {
        return new L.CircleMarker(latlng, { radius: 5, fillOpacity: 0.75 });
      },
      onEachFeature: function (feature, layer) {
        console.log(feature);
        if (feature.properties.status === null) {
          var theStatus = 'n/a'
        } else {
          var theStatus = feature.properties.status;
        }
        if (feature.properties.mode === null) {
          var theMode = 'n/a'
        } else {
          var theMode = feature.properties.mode;
        }
        
        layer.bindPopup(
          '<p>'+'<b>Comment: </b>' + feature.properties.comment +'</p>'+
          '<p>'+'<b>Status: </b>' + theStatus +'</p>'+
          '<p>'+'<b>Mode: </b>' + theMode +'</p>'
          );
      }
    });
    irseMap.addLayer(geojsonLayer);</script>
</div>