<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.6.0/Tween.min.js"></script>
  <script src="../dist/js/CanvasFlowmapLayer.js"></script>
  <link rel="stylesheet" href="../dist/css/bootstrap.css">
  <link rel="stylesheet" href="../dist/css/style.css">
</head>

<body>
  <div class="container">
    <div class="result flow-summary">
      <div class="title">
        <h1>Journey from Home to Work</h1>
      </div>
      <%- include('partials/flowMap', {summary: summary}); %>
    </div>
    <div class="result text-summary">
      <div class="title">
        <h1>Summary of Text Message Surveys</h1>
      </div>
    </div>
    <%- include('partials/textSummary', {summary: summary}); %>
    <div class="result map-summary">
      <div class="title">
        <h1>Summary of Map Comments</h1>
      </div>
      <%- include('partials/map', {esriResults: esriResults}); %>
      <%- include('partials/mapComments', {esriResults: esriResults}); %>
    </div>
  </div>
</body>


</html>