<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
  <link rel="stylesheet" href="../dist/bootstrap.css">
  <link rel="stylesheet" href="../dist/style.css">
</head>

<body>
  <div class="title">
    <h1>Summary of Results</h1>
    <h4>ActiveLE Text Message Survey</h4>
  </div>
  <div class="result summary">
    <div class="title">
      <h4>Online Map Activity Results</h4>
    </div>
  </div>
  <div class="result esri-map">
    <div id="irse"></div>
    <script>
      var irseMap = L.map('irse').setView([33.6933447075328, -117.38131905537], 12);
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        id: 'mapbox.streets'
      }).addTo(irseMap);
      var irseGeo = <%- JSON.stringify(esriResults.features) %>
      geojsonLayer = L.geoJson(irseGeo, {
        style: function (feature) {
          if (feature.properties.status === 'Like') {
            return { color: "#31e0a3" };
          } else if (feature.properties.status === 'Dislike') {
            return { color: "#e05131" };
          } else {
            return { color: "#9b9fa5" };
          }
        },
        pointToLayer: function (feature, latlng) {
          return new L.CircleMarker(latlng, { radius: 5, fillOpacity: 0.75 });
        },
        onEachFeature: function (feature, layer) {
          layer.bindPopup(
            '<p>'+feature.properties.comment +'</p>'+
            '<p>'+feature.properties.status +'</p>'+
            '<p>'+feature.properties.mode +'</p>'
          );
        }
      });
      irseMap.addLayer(geojsonLayer);</script>
  </div>
</body>

</html>